
h1, h2 {
    text-align: center;
color: red;
font-weight: bold;
}

h3 {
border: 2px solid red;
border-radius: 5px;
background: #ffff55;
width: fit-content;
display: inline-block;
}

div {
    display: inline-block;
    background-color: #f2f2f2;
    width: 45%;
}

.box1{
float: left;
}

img1 {
float: left;
}

.hl1 {
float: right;
}

.box2 {
float: right;
}

img2 {
float: right;
}

.ft {
clear: both;
}

li {
display: inline-block;
style: none;
margin: 30px;
}
