
h1, h2 {
    text-align: center;
}
h3 {
border: 10px solid black;
border-radius: 5px
background-color: #9b988e;
width: fit-content;
div {
    display: inline-block;
    height: 100vh;
    background-color: #f2f2f2;
}
.img1 {
float: left;
}
.img2 {
float: right;
}
.ft {
float: clear;
}

